<html>
<head>
<title></title>

</head>
<body>

<div id="map" style="width: 600px; height: 400px"></div>

<div align="center">

<script>window.onload=function(){
	
	var locations = {
		max: 8,
		data: JSON.parse({{locations|tojson}})
	};
	
	var baseLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
		{
			attribution:'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
		maxZoom:18
	});

	
	var cfg = {
	  // radius should be small ONLY if scaleRadius is true (or small radius is intended)
	  // if scaleRadius is false it will be the constant radius used in pixels
	  "radius": .2,
	  "maxOpacity": .8, 
	  // scales the radius based on map zoom
	  "scaleRadius": true, 
	  // if set to false the heatmap uses the global maximum for colorization
	  // if activated: uses the data maximum within the current map boundaries 
	  //   (there will always be a red spot with useLocalExtremas true)
	  "useLocalExtrema": true,
	  // which field name in your data represents the latitude - default "lat"
	  latField: 'lat',
	  // which field name in your data represents the longitude - default "lng"
	  lngField: 'lng',
	  // which field name in your data represents the data value - default "value"
	  valueField: 'count'
	};

	var heatmapLayer = new HeatmapOverlay(cfg);
	var map = new L.Map('map', {
		center:new L.LatLng(25.6586,-80.3568),
  		zoom: 4,
  		layers: [baseLayer, heatmapLayer]
	});

	heatmapLayer.setData(locations);
};
</script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}"/>
<script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='js/heatmap.min.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/leaflet-heatmap.js' ) }}"></script>
<!--<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />	 -->
</body>
</html> 